<script setup lang="ts">
interface Datum {
  term: string;
  details: string;
}

type Data = Datum[];

const data: Data = [
  {
    term: "Beast of Bodmin",
    details: "A large feline inhabiting Bodmin Moor.",
  },
  { term: "Morgawr", details: "A sea serpent." },
  { term: "Owlman", details: "A giant owl-like creature." },
];
</script>

<template>
  <dl>
    <template v-for="{ term, details } in data" :key="term">
      <dt>{{ term }}</dt>
      <dd>{{ details }}</dd>
    </template>
  </dl>
</template>

<style scoped>
dl {
  margin: 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/gap ("... grid-gap as an alias for gap.") */
  gap: 0.5rem 1.5rem;
}

dd {
  margin: 0;
}
</style>
